#main-header img {
    width: 100%;
    height: 100%;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.bg-black {
    color: #fff;
    background: #000;
}

.bg-purple {
    color: #fff;
    background: #800080;
}

.btn-purple {
    background-color: #800080;
}

@media (min-width: 1199px) {
    .port-item {
        padding: 3em !important;
    }
}

p {
    text-align: justify;
}