body {
    background-color: #0d1e2f;
}

.border-rad {
    border-radius: 0.25rem;
}

#main-header img {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.bg-black {
    color: #fff;
    background: #000;
}

.bg-home {
    background: #242582;
}

.bg-resume {
    background: #2F2FA2;
}

.bg-work {
    background: #553D67;
}

.bg-purple {
    color: #fff;
    background: #800080;
}

.btn-purple {
    background-color: #800080;
}

@media (min-width: 1199px) {
    .port-item {
        padding: 3em !important;
    }
}

@media (max-width: 768px) {
    .display-1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.375rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    p {
        font-size: 1rem;
    }
    p.lead {
        font-size: 1rem;
    }
}

p {
    text-align: justify;
}

#google_translate_element .goog-te-gadget-simple .goog-te-menu-value span:first-child {
    display: none;
    border: none;
}

.goog-te-gadget-simple {
    border: none !important;
}

#google_translate_element .goog-te-gadget-simple .goog-te-menu-value:before {
    content: 'Translate';
    border: none;
}